section > h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.repo-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
  gap: 1.5rem;
}

.repo-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--gray);
  padding: 1rem 1.5rem;
  /* max-width: 20rem; */
}

.repo-card > h3 {
  color: var(--github-blue);
  text-transform: lowercase;
}

.repo-card > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.repo-card .repo-card-meta {
  display: flex;
  gap: 0.5rem;
}
